/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    color: #1D3557;
    font-family: "Roboto", serif;
}

img {
    width: 100px;
}

h1,
h2,
h3,
h4 {
    margin: 0
}

#hero {
    background-image: url("./images/torshov.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 500px;
    align-items: center;
    justify-content: center;
}

#hero-title {
    background-color: #1D3557;
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#hero-desc {
    background-color: #457B9D;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    padding: 5px 28px;
    border-radius: 10px;
}

#activities {
    background-color: #F1FAEE;
}

#activities-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding: 40px 0;
}

.activities-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activities-rows {
    display: flex;
    padding: 0 35px 40px 35px;
    align-items: center;
    justify-content: center;
}

.activity-img {
    border-radius: 50%;
    margin-bottom: 22px;
}

.activity-title {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.5px;
    text-align: center;
}

.activity-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.5px;
    text-align: center;
}

#card {
    background-color: #A8DADC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 300px;
    height: 200px;
    padding: 22px 15px;
    border-radius: 10px;
    box-shadow: 0px 5px black;
}

#avatar {
    width: 150px;
}

#card-info {
    font-weight: 700;
    text-align: center;
}

#card-info>h3 {
    font-size: 24px;
    line-height: 28px;
}

#card-info>p {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 18.5px;
}

#card-info>h4 {
    font-size: 16px;
    line-height: 18.5px;
}